# Data Science Tools and Ecosystem

## Author
Arsen Tagibekov

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* Create a single column table
* Add a line with H3 style heading
* Create both an ordered and unordered list

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Scikit-learn
5. TensorFlow

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| RStudio |
| GitHub |

### Below are a few examples of evaluating arithmetic expressions in Python

This is a simple arithmetic expression to multiply then add integers.

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60.

In [6]:
200/60

3.3333333333333335